FORMAT: 1A
HOST: http://cloud.sparkmeter.io

# Sparkmeter
Notes API is a *short texts saving* service similar to its physical paper presence on your table.



# Group Customer API
Customer related resources of the **Customer API**

## Get Customer Info {aka: Account Balance} [/v1/customers/{id}]
Get the information for a given account. 

+ Parameters
    + id (required, uuid, `c00000000-0000-0000-0000-00000000001`) ... UUID `id` of the Customer to perform action with.

### Get Info [GET]
+ Response 200 (application/vnd.api+json)

        {
            "links": {
                "self": "http://cloud.sparkmeter.io/v1/customers/c00000000-0000-0000-0000-00000000001",
            },
            "data": {
                "type": "customer",
                "id": "c00000000-0000-0000-0000-00000000001",
                "attributes": {
                    "code": "72XYZ", 
                    "name": "new customer1-local", 
                    "credit_wallet": 1000,
                    "debt_wallet": 100,
                    "plan_wallet": 500
                },
                "relationships": {
                    "meters": {
                        "links": {
                            "self": "http://cloud.sparkmeter.io/v1/customers/c00000000-0000-0000-0000-00000000001/relationships/meters",
                            "related": "http://cloud.sparkmeter.io/v1/customers/c00000000-0000-0000-0000-00000000001/meters"
                        },
                        "data": [
                            { "type": "meter", "id": "100000000-0000-0000-0000-00000000001" },
                            { "type": "meter", "id": "100000000-0000-0000-0000-00000000002" }
                        ]
                    },
                    "transactions": {
                        "links": {
                            "self": "http://cloud.sparkmeter.io/v1/customers/c00000000-0000-0000-0000-00000000001/relationships/transactions",
                            "related": "http://cloud.sparkmeter.io/v1/customers/c00000000-0000-0000-0000-00000000001/transactions"
                        },
                        "data": [
                            { "type": "transaction", "id": "700000000-0000-0000-0000-00000000001" },
                            { "type": "transaction", "id": "700000000-0000-0000-0000-00000000002" }
                        ]
                    }
                }
            }
        }

## Get Customer Transactions {aka: Last Transaction} [/v1/customers/{id}/transactions?page%5Bnumber%5D=1&page%5Bsize%5D=1]
List transactions for a customer.

+ Parameters
    + id (required, uuid, `c00000000-0000-0000-0000-00000000001`) ... UUID `id` of the Customer to perform action with.
    + page%5Bnumber%5D (optional, number, `1`) ... Number `page[number]` of page to return.
    + page%5Bsize%5D (optional, number, `1`) ... Number `page[size]` of transactions to return per page.

### Retrieve Transactions [GET]
+ Response 200 (application/vnd.api+json)

        {
            "links": {
                "self": "http://cloud.sparkmeter.io/v1/customers/c00000000-0000-0000-0000-00000000001/transactions?page%5Bnumber%5D=1&page%5Bsize%5D=1",
            },
            "data": [{
                "type": "transaction",
                "id": "700000000-0000-0000-0000-00000000001",
                "attributes": {
                    "memo": null, 
                    "reference_id": "700000000-0000-0000-0000-00000000002", 
                    "microgrid_id": "e1bd691d-a8b9-4301-944b-a840bf8b798a", 
                    "user_id": "730828b1-5287-4f3e-aeb0-fb0c9d0c8e25", 
                    "to_wallet_id": "6d432138-f1d9-4d73-ac1e-fb10ee54c68e", 
                    "created": "2015-08-11T14:48:34.890886", 
                    "from_wallet_id": "d19d9de4-5676-4c56-82ca-3c1bafbb1c74", 
                    "amount": 100.0, 
                    "processed": true, 
                    "error": null, 
                    "source_id": "2927d857-1bf4-4233-bd5e-d900a84b0f39", 
                    "acct_type": "credit", 
                    "external_id": null
                },
                "relationships": {
                    "from": {
                        "links": {
                            "self": "http://cloud.sparkmeter.io/v1/vendor/d19d9de4-5676-4c56-82ca-3c1bafbb1c74"
                        },
                        "data": { "type": "vendor", "id": "d19d9de4-5676-4c56-82ca-3c1bafbb1c74" }
                    },
                    "to": {
                        "links": {
                            "self": "http://cloud.sparkmeter.io/v1/customers/c00000000-0000-0000-0000-00000000001"
                        },
                        "data": { "type": "customer", "id": "c00000000-0000-0000-0000-00000000001" }
                    },
                    "reference_transaction": {
                        "links": {
                            "self": "http://cloud.sparkmeter.io/v1/transactions/700000000-0000-0000-0000-00000000002",
                        },
                        "data": { "type": "transaction", "id": "700000000-0000-0000-0000-00000000002" }
                    }
                },
                "links": {
                    "self": "http://cloud.sparkmeter.io/v1/transactions/700000000-0000-0000-0000-00000000001"
                }]
            }
        }

# Group Transaction API
Transaction related resources of the **Transaction API**

## Transactions [/v1/transactions]
List transactions for a customer.

### Create Transaction [POST]
+ Request (application/vnd.api+json)

        {
            "data": {
                "type": "transaction",
                "attributes": {
                    "memo": null, 
                    "microgrid_id": "e1bd691d-a8b9-4301-944b-a840bf8b798a", 
                    "amount": 100.0, 
                    "source_id": "2927d857-1bf4-4233-bd5e-d900a84b0f39", 
                    "acct_type": "credit", 
                    "external_id": null, 
                },
                "relationships": {
                    "from": {
                        "data": { "type": "vendor", "id": "d19d9de4-5676-4c56-82ca-3c1bafbb1c74" }
                    },
                    "to": {
                        "data": { "type": "customer", "id": "c00000000-0000-0000-0000-00000000001" }
                    }
                }
            }
        }

+ Response 201 (application/vnd.api+json)

        {
            "links": {
                "self": "http://cloud.sparkmeter.io/v1/transactions/700000000-0000-0000-0000-00000000001",
            },
            "data": {
                "type": "transaction",
                "id": "700000000-0000-0000-0000-00000000001",
                "attributes": {
                    "memo": null, 
                    "reference_id": "700000000-0000-0000-0000-00000000002", 
                    "microgrid_id": "e1bd691d-a8b9-4301-944b-a840bf8b798a", 
                    "user_id": "730828b1-5287-4f3e-aeb0-fb0c9d0c8e25", 
                    "to_wallet_id": "6d432138-f1d9-4d73-ac1e-fb10ee54c68e", 
                    "created": "2015-08-11T14:48:34.890886", 
                    "from_wallet_id": "d19d9de4-5676-4c56-82ca-3c1bafbb1c74", 
                    "amount": 100.0, 
                    "processed": true, 
                    "error": null, 
                    "source_id": "2927d857-1bf4-4233-bd5e-d900a84b0f39", 
                    "acct_type": "credit", 
                    "external_id": null, 
                },
                "relationships": {
                    "from": {
                        "links": {
                            "self": "http://cloud.sparkmeter.io/v1/vendor/d19d9de4-5676-4c56-82ca-3c1bafbb1c74"
                        },
                        "data": { "type": "vendor", "id": "d19d9de4-5676-4c56-82ca-3c1bafbb1c74" }
                    },
                    "to": {
                        "links": {
                            "self": "http://cloud.sparkmeter.io/v1/customers/c00000000-0000-0000-0000-00000000001"
                        },
                        "data": { "type": "customer", "id": "c00000000-0000-0000-0000-00000000001" }
                    },
                    "reference_transaction": {
                        "links": {
                            "self": "http://cloud.sparkmeter.io/v1/transactions/700000000-0000-0000-0000-00000000002",
                        },
                        "data": { "type": "transaction", "id": "700000000-0000-0000-0000-00000000002" }
                    }
                }
            }
        }
        
## Get Transaction {aka: Status of specific transaction} [/v1/transactions/{id}]
Get transaction information

+ Parameters
    + id (required, uuid, `700000000-0000-0000-0000-00000000001`) ... UUID `id` of the Transaction to perform action with.

### Get Transaction Info [GET]
+ Response 200 (application/vnd.api+json)

        {
            "links": {
                "self": "http://cloud.sparkmeter.io/v1/transactions/700000000-0000-0000-0000-00000000001",
            },
            "data": {
                "type": "transaction",
                "id": "700000000-0000-0000-0000-00000000001",
                "attributes": {
                    "memo": null, 
                    "reference_id": "700000000-0000-0000-0000-00000000002", 
                    "microgrid_id": "e1bd691d-a8b9-4301-944b-a840bf8b798a", 
                    "user_id": "730828b1-5287-4f3e-aeb0-fb0c9d0c8e25", 
                    "to_wallet_id": "6d432138-f1d9-4d73-ac1e-fb10ee54c68e", 
                    "created": "2015-08-11T14:48:34.890886", 
                    "from_wallet_id": "d19d9de4-5676-4c56-82ca-3c1bafbb1c74", 
                    "amount": 100.0, 
                    "processed": true, 
                    "error": null, 
                    "source_id": "2927d857-1bf4-4233-bd5e-d900a84b0f39", 
                    "acct_type": "credit", 
                    "external_id": null
                },
                "relationships": {
                    "from": {
                        "links": {
                            "self": "http://cloud.sparkmeter.io/v1/vendor/d19d9de4-5676-4c56-82ca-3c1bafbb1c74"
                        },
                        "data": { "type": "vendor", "id": "d19d9de4-5676-4c56-82ca-3c1bafbb1c74" }
                    },
                    "to": {
                        "links": {
                            "self": "http://cloud.sparkmeter.io/v1/customers/c00000000-0000-0000-0000-00000000001"
                        },
                        "data": { "type": "customer", "id": "c00000000-0000-0000-0000-00000000001" }
                    },
                    "reference_transaction": {
                        "links": {
                            "self": "http://cloud.sparkmeter.io/v1/transactions/700000000-0000-0000-0000-00000000002",
                        },
                        "data": { "type": "transaction", "id": "700000000-0000-0000-0000-00000000002" }
                    }
                }
            }
        }


# Group Meter API
Meters related resources of the **Meter API**

## Get Meter Info {aka: Get Meter Status} [/v1/meters/{id}]
Get the information for a given meter. 

+ Parameters
    + id (required, uuid, `100000000-0000-0000-0000-00000000001`) ... UUID `id` of the Meter to perform action with.

### Get Info [GET]
+ Response 200 (application/vnd.api+json)

        {
            "links": {
                "self": "http://cloud.sparkmeter.io/v1/meters/100000000-0000-0000-0000-00000000001",
            },
            "data": {
                "type": "meter",
                "id": "100000000-0000-0000-0000-00000000001",
                "attributes": {
                    "code": 666, 
                    "customer_id": "c00000000-0000-0000-0000-00000000001", 
                    "microgrid_id": "e1bd691d-a8b9-4301-944b-a840bf8b798a", 
                    "packet_request": 0, 
                    "packet_response": 0, 
                    "reading_id": null, 
                    "bootloader": null, 
                    "last_plan_payment_date": null, 
                    "last_energy_datetime": "2015-07-30T15:24:29.857164", 
                    "firmware": null, 
                    "current_state": 0, 
                    "is_running_plan": false, 
                    "last_energy": 0.0, 
                    "last_cycle_start": null, 
                    "total_cycle_energy": 0.0, 
                    "subnet": 1, 
                    "tariff_id": "3acd9ad9-2ed9-4006-84b7-2d95526a1ba0", 
                    "state": 0, 
                    "hidden": true, 
                    "city": "", 
                    "street1": "", 
                    "street2": "", 
                    "state": "", 
                    "coords": null, 
                    "country": "", 
                    "postalcode": "", 
                },
                "relationships": {
                    "readings": {
                        "links": {
                            "self": "http://cloud.sparkmeter.io/v1/meters/100000000-0000-0000-0000-00000000001/relationships/readings",
                            "related": "http://cloud.sparkmeter.io/v1/meters/100000000-0000-0000-0000-00000000001/readings"
                        },
                        "data": [
                            { "type": "reading", "id": "300000000-0000-0000-0000-00000000001" },
                            { "type": "reading", "id": "300000000-0000-0000-0000-00000000002" }
                        ]
                    },
                    "customer": {
                        "links": {
                            "self": "http://cloud.sparkmeter.io/v1/customers/c00000000-0000-0000-0000-00000000001"
                        },
                        "data": { "type": "customer", "id": "c00000000-0000-0000-0000-00000000001" }
                    },
                    "tariff": {
                        "links": {
                            "self": "http://cloud.sparkmeter.io/v1/tariffs/400000000-0000-0000-0000-00000000001"
                        },
                        "data": { "type": "tariff", "id": "400000000-0000-0000-0000-00000000001" }
                    }
                }
            }
        }
